@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<KnjiznicaModel>

<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>

        .kocke-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr); 
            gap: 20px;
            margin: 20px;
        }

        .kocka {
            background-color: #f2f2f2;
            border: 2px solid #ccc; 
            padding: 20px;
            text-align: center;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Udruga gradskih knjižnica</h1>
    <br/>
    <br/>
    @if (Model != null && Model.Any())
    {
        <div class="kocke-container">
            @foreach (var knjiznica in Model)
            {
                <div class="kocka">
                    <a href="@Url.Action("KnjiznicaDetails", "Knjiznica", new { id = knjiznica.Id })">
                        <h3>@knjiznica.Naziv</h3>  <!-- Ispis naziva knjiznice -->
                    </a>
                </div>
            }
        </div>
    }
    else
    {
        <p>No data available.</p>  <!-- Poruka ako model nema podataka -->
    }
</body>
</html>
